<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/imss-logo.png">
    <title>Actualizar Ejecutor</title>

    <%- include('templates/header')%>

    <%- include('templates/banner')%>
    
    <div class="container mt-1">

        <div class="row space-around">
            <div class="col-lg-4">
                <div class="row justify-content-start align-items-center">
                    <div class="col-2">
                        <img src="/icons/pfp.png" alt="">
                    </div>
                    <div class="col-10">
                        <div class="row"><span class="nombre-usuario" id=""><%= session.user ? session.user.nombre : "Nombre" %></span></div>
                        <div class="row"><span class="nombre-usuario" id=""><%= session.user ? session.user.apellidos : "Apellidos" %></span></div>
                        <div class="row"><p class="tipo-usuario"><%= session.user ? session.user.tipo_usuario.toUpperCase() : "Administrador" %></p></div>
                    </div>
                    <a href="/logout" class="logout text-danger">CERRAR SESIÓN</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="d-flex justify-content-center">
                    <div class="col-2"><img src="/icons/hint.png" alt="hint"></div>
                    <div class="col-10"><p class="texto-hint mt-2">ACTUALIZAR DATOS DEL EJECUTOR</p></div>
                </div>
            </div>
        </div>

      <div class="d-flex"> 
          <div class="col-2 sidebar">
              <ul>
                <li class="active">
                  <h5>INFORMACIÓN</h5>
                  <ul class="">
                      <li><a href="/loadInfo" class="sidebar-item">CARGAR INFORMACIÓN</a></li>
                      <li><a href="/registrarAfil" class="sidebar-item">REGISTRAR AFIL</a></li>
                        <li><a href="/changeTemplates" class="sidebar-item">CAMBIAR PLANTILLAS</a></li>
                </ul>
                </li>
                <li class="active mt-3">
                  <h5>ESTADÍSTICAS</h5>
                  <ul class="">
                    <li><a href="/estadisticasIndividuales" class="sidebar-item">INDIVIDUALES</a></li>
                    <li><a href="/estadisticasGlobales" class="sidebar-item">GLOBALES</a></li>
                  </ul>
                </li>
                <li class="active mt-3">
                  <h5>EJECUTOR</h5>
                  <ul class="">
                      <li><a href="/actualizarEjecutor" class="sidebar-item activo">ACTUALIZAR</a></li>
                      <li><a href="/registerEjecutor" class="sidebar-item">REGISTRAR</a></li>
                  </ul>
                </li>
              </ul>
          </div>
          <div class="col-10 space-around">
            <div id="perfil" class="contenido activo text-center">

                <form action="actualizarEjecutor" method="post">
                    <h2 class="texto-green text-center mt-2">Actualizar Ejecutor</h2>
        
                    <div class="container">
                        <label for="clave_eje">Clave de Ejecutor</label>
                        <select name="clave_eje" id="clave_eje" class="form-control input-group-text" onchange="itemSeleccionado( '<%= JSON.stringify(ejecutores) %>')">
                            <option value="false">Selecciona una clave</option>
                            <% for(var i=0; i<ejecutores.length; i++) { %>
                                <option value="<%= ejecutores[i].clave_eje %>">
                                    <%= ejecutores[i].clave_eje %>
                                </option>
                                <% } %>
                        </select>
                    </div>
            
                    <div class="container">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" class="form-control text-center"/>
                    </div>
                    
                    Estatus
                    <div class="container mt-2">
                        <label for="option1">Habilitado</label>
                        <input class="form-check-input mt-0" type="radio" id="habilitado" name="opcion" onclick="statusSeleccionado()" value="">
            
                        <label for="option2">Deshabilitado</label>
                        <input class="form-check-input mt-0" type="radio" id="deshabilitado" name="opcion" onclick="statusSeleccionado()" value="">
                        <input type="hidden" name="status" id="status" value="" />
                    </div>
            
                    Tipo
                    <div class="container">
                        <select class="form-control input-group-text" name="typeS" id="typeS" onchange="tipoSeleccionado()">
                            <option id="admin" value="admin">Admin</option>
                            <option id="ejecutor" value="ejecutor">Ejecutor</option>
                        </select>
                        <input type="hidden" name="type" id="type" value="" />
                    </div>
            
                    <div class="container">
                        <label for="user">Usuario</label>
                        <input type="text" name="user" id="user" disabled value=""  class="form-control text-center"/>
                    </div>
            
                    <div>
                        <div class="container mt-3">
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>
                    </div>
            
                    <% if (session.actualizarEjecutor) { %>
                        <p>
                            <%= session.actualizarEjecutor %>
                        </p>
                        <% } %>
                </form>
                
                <div class="row mt-2">
                    <div class="col-3"></div>
                    <div class="col">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-success mt-2" onclick="verPatronesAsignados()">
                            Ver patrones asignados
                        </button>
                    </div>
                    <div class="col">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-warning mt-2" onclick="verPatronesNoAsignados()">
                            Ver patrones no asignados
                        </button>
                    </div>
                    <div class="col-3"></div>
                </div>
                
                <form action="desasignarPatrones" method="post">
                    <!-- Modal -->
                    <div class="modal fade" id="verPatronesAsignadosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Patrones asignados</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <h4>Patrones Asignados</h4>
                                        <div id="div-patrones-asignados"></div> 
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btnACancelar">Cancelar</button>
                                    <button class="btn btn-primary" id="btnADesasignar" type="submit">Desasignar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form action="asignarPatrones" method="post" id="asignarPatrones">
                    <!-- Modal -->
                    <div class="modal fade" id="verPatronesNoAsignadosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Patrones no asignados</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                
                                <div>
                                    <h4>Patrones no Asignados</h4>
                                    <div id="div-patrones-no-asignados"></div> 
                                        <input type="hidden" id="claveEje" name ="claveEje">
                                        <input type="hidden" id="nomEje" name="nomEje" >
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btnNCancelar">Cancelar</button>
                                <button class="btn btn-primary" id="btnNAsignar">Asignar</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
          </div>  
      </div>
    </div>


</body>
<%- include('templates/footer-pleca')%>
<script src="/js/actualizarEjecutor.js"></script>

</html>

