<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/imss-logo.png">
    <title>Confronta</title>

    <%- include('templates/header')%>

    <%- include('templates/banner')%>
    
    <div class="container mt-1">

        <div class="row space-around">
            <div class="col-lg-4">
                <div class="row justify-content-start align-items-center">
                    <div class="col-2">
                        <img src="/icons/pfp.png" alt="">
                    </div>
                    <div class="col-10">
                        <div class="row"><span class="nombre-usuario" id=""><%= session.user ? session.user.nombre : "Nombre" %></span></div>
                        <div class="row"><span class="nombre-usuario" id=""><%= session.user ? session.user.apellidos : "Apellidos" %></span></div>
                        <div class="row"><p class="tipo-usuario"><%= session.user ? session.user.tipo_usuario : "Administrador" %></p></div>
                    </div>
                    <a href="/logout" class="logout text-danger">CERRAR SESIÓN</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="d-flex justify-content-center">
                    <div class="col-2"><img src="/icons/hint.png" alt="hint"></div>
                    <div class="col-10"><p class="texto-hint mt-2">CONFRONTA DE ARCHIVOS</p></div>
                </div>
            </div>
        </div>

      <div class="d-flex"> 
          <div class="col-2 sidebar">
              <ul>
                <li class="active">
                  <h5>INFORMACIÓN</h5>
                  <ul class="">
                      <li><a href="/loadInfo" class="sidebar-item">CARGAR INFORMACIÓN</a></li>
                      <li><a href="/registrarAfil" class="sidebar-item">REGISTRAR AFIL</a></li>
                  </ul>
                </li>
                <li class="active mt-3">
                  <h5>ESTADÍSTICAS</h5>
                  <ul class="">
                      <li><a href="/confronta" class="sidebar-item activo">CONFRONTA</a></li>
                      <li><a href="/estadisticasIndividuales" class="sidebar-item">INDIVIDUALES</a></li>
                      <li><a href="#" class="sidebar-item">GLOBALES</a></li>
                  </ul>
                </li>
                <li class="active mt-3">
                  <h5>EJECUTOR</h5>
                  <ul class="">
                      <li><a href="/actualizarEjecutor" class="sidebar-item">ACTUALIZAR</a></li>
                      <li><a href="/registerEjecutor" class="sidebar-item">REGISTRAR</a></li>
                  </ul>
                </li>
              </ul>
          </div>
          <div class="col-10 space-around">
            <div id="perfil" class="contenido activo text-center">
                <h2 class="texto-green text-center mt-2">Confronta</h2>

                <!-- <div class="container">
                    <label for="typeFile">Tipo de Archivo a Confrontar</label>
                    <select name="typeFile" id="typeFile" class="form-control input-group-text">
                        <option>Selecciona un tipo de Archivo</option>
                        <option value="Rale">Rales RCV y COP</option>
                        <option value="Coin">Coin</option>
                    </select>
                    <div class="row">
                        <div id="div-frst-selects" class="col"></div>
                        <div id="div-scnd-selects" class="col"></div>
                    </div>
                </div> -->

                <div class="row">
                    <div id="div-frst-selects" class="col"><label for="dateCOPfrst" class="mt-3">Primer fecha a confrontar de Rale COP</label><select name="dateCOPfrst" id="dateCOPfrst" class="form-control input-group-text"><option value="false">Selecciona una fecha para Rale COP</option><option value="2023-04-30">2023-04-30</option><option value="2023-05-31" disabled="">2023-05-31</option></select><label for="dateRCVfrst" class="mt-3">Primer fecha a confrontar de Rale RCV</label><select name="dateRCVfrst" id="dateRCVfrst" class="form-control input-group-text"><option value="false">Selecciona una fecha para Rale RCV</option><option value="2023-04-30">2023-04-30</option><option value="2023-05-31" disabled="">2023-05-31</option></select></div>
                    <div id="div-scnd-selects" class="col"><label for="dateCOPscnd" class="mt-3">Segunda fecha a confrontar de Rale COP</label><select name="dateCOPscnd" id="dateCOPscnd" class="form-control input-group-text"><option value="false">Selecciona una fecha para Rale COP</option><option value="2023-04-30" disabled="">2023-04-30</option><option value="2023-05-31">2023-05-31</option></select><label for="dateRCVscnd" class="mt-3">Segunda fecha a confrontar de Rale RCV</label><select name="dateRCVscnd" id="dateRCVscnd" class="form-control input-group-text"><option value="false">Selecciona una fecha para Rale RCV</option><option value="2023-04-30" disabled="">2023-04-30</option><option value="2023-05-31">2023-05-31</option></select><label for="dateCOINscnd" class="mt-3">Segunda fecha a confrontar de Rale RCV</label><select name="dateCOINscnd" id="dateCOINscnd" class="form-control input-group-text"><option value="false">Selecciona una fecha para COIN</option><option value="2023-05-31">2023-05-31</option></select></div>
                </div>
                
                <div class="form-check form-switch mt-4 row">
                    <div class="col-3"></div>
                    <div class="col-3">
                        <input class="form-check-input ml-3" type="checkbox" role="switch" id="switch_show_modal" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Mostrar modal con la confronta</label>
                    </div>
                </div>

                <button class="btn btn-success mt-3" id="saveConfronta" disabled>Guardar Confronta</button>
                <div class="mt-3">
                    <h4 class="texto-green text-center mt-2">Confrontas Realizadas Anteriores</h4>
                    <table class="table table-striped bg-white" id="show_confrontas">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Realizada el</th>
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
          </div>  
      </div>
    </div>

    <!-- ! MODAL VALIDATE -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="confrontarModal" tabindex="-1" aria-labelledby="validateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="validateModalLabel"><h5 class="texto-green" id="modal_title">PLACEHOLDER</h5></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="div-table" class="text-center"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btn_cancelar">Cancelar</button>
                    <button type="submit" class="btn btn-success" id="btn_insertar">Insertar</button>
                </div>
            </div>
        </div>
    </div>

</body>
<%- include('templates/footer-pleca')%>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="socket.io/socket.io.min.js"></script>
<script src="/js/confronta.js"></script>

</html>

