<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/imss-logo.png">
    <title>Cargar Información</title>

    <%- include('templates/header')%>

    <%- include('templates/banner')%>
    
    <div class="container mt-1">

      <div class="row space-around">
        <div class="col-lg-4">
            <div class="row justify-content-start align-items-center">
                <div class="col-2">
                    <img src="/icons/pfp.png" alt="">
                </div>
                <div class="col-10">
                    <div class="row"><span class="nombre-usuario" id=""><%= session.user ? session.user.nombre : "Nombre" %></span></div>
                    <div class="row"><span class="nombre-usuario" id=""><%= session.user ? session.user.apellidos : "Apellidos" %></span></div>
                    <div class="row"><p class="tipo-usuario"><%= session.user ? session.user.tipo_usuario.toUpperCase() : "Administrador" %></p></div>
                </div>
                <a href="/logout" class="logout text-danger">CERRAR SESIÓN</a>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="d-flex justify-content-center">
                <div class="col-2"><img src="/icons/hint.png" alt="hint"></div>
                <div class="col-10"><p class="texto-hint mt-2">SUBIR ARCHIVOS EXCEL</p></div>
            </div>
        </div>
      </div>

      <div class="d-flex"> 
        <div class="col-2 sidebar">
            <ul>
              <li class="active">
                <h5>INFORMACIÓN</h5>
                <ul class="">
                    <li><a href="/loadInfo" class="sidebar-item activo">CARGAR INFORMACIÓN</a></li>
                    <li><a href="/registrarAfil" class="sidebar-item">REGISTRAR AFIL</a></li>
                    <li><a href="/changeTemplates" class="sidebar-item">CAMBIAR PLANTILLAS</a></li>
                </ul>
              </li>
              <li class="active mt-3">
                <h5>ESTADÍSTICAS</h5>
                <ul class="">
                    <li><a href="/estadisticasIndividuales" class="sidebar-item">INDIVIDUALES</a></li>
                    <li><a href="/estadisticasGlobales" class="sidebar-item">GLOBALES</a></li>
                </ul>
              </li>
              <li class="active mt-3">
                <h5>EJECUTOR</h5>
                <ul class="">
                    <li><a href="/actualizarEjecutor" class="sidebar-item">ACTUALIZAR</a></li>
                    <li><a href="/registerEjecutor" class="sidebar-item">REGISTRAR</a></li>
                </ul>
              </li>
            </ul>
        </div>
        <div class="col-10 space-around">
          <div id="perfil" class="contenido activo text-center">
            <h2 class="texto-green text-center mt-2">Cargar Información</h2>

            <div class="">
              <div class="mt-3">
                <div class="container">
                  <h4 for="afil">Afil</h4>
                  <a href="/registrarAfil" class="form-control" id="afil">Registrar Afil</a>
                  <input type="file" class="form-control" name="Afil" id="Afil_input" accept=".xlsx"/>
                  <p class="text-danger">Alerta! Asegurate de eliminar el archivo Afil anterior antes de cargar uno nuevo</p>
                  <button type="button" class="btn btn-secondary mt-1"  onclick="verRegistrosAfil()">
                    Ver registros Afil
                  </button>
                </div>
              </div>
              <div class="mt-3">
                <div class="container">
                  <h4 for="Coin">Coin</h4>
                  <input type="file" class="form-control" name="Coin" id="Coin_input" accept=".xlsx"/>
                  <button type="button" class="btn btn-primary mt-1" onclick="verRegistrosCoin()">
                    Ver registros Coin
                  </button>
                </div>
              </div>
              <div class="mt-3">
                <div class="container">
                  <h4 for="Coin">Rale COP</h4>
                  <input type="file" class="form-control" name="RaleCOP" id="RaleCOP_input" accept=".xlsx"/>
                  <button type="button" class="btn btn-success mt-1" onclick="verRegistrosRaleCOP()">
                    Ver registros Rale Cop
                  </button>
                </div>
              </div>
              <div class="mt-3">
                <div class="container">
                  <h4 for="Coin">Rale RCV</h4>
                  <input type="file" class="form-control" name="RaleRCV" id="RaleRCV_input" accept=".xlsx"/>
                  <button type="button" class="btn btn-light mt-1" data-bs-toggle="modal" data-bs-target="#modalRaleRCV" onclick="verRegistrosRaleRCV()">
                    Ver registros Rale RCV
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>

    <!-- ! MODAL VALIDATE -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="validateModal" tabindex="-1" aria-labelledby="validateModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="validateModalLabel"><h5 class="texto-green" id="modal_title">PLACEHOLDER</h5></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            <div class="modal-body">
              <div id="div-table" class="text-center"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btn_cancelar">Cancelar</button>
              <button type="submit" class="btn btn-success" id="btn_insertar">Insertar</button>
            </div>
        </div>
      </div>
    </div>

    <!-- ? MODAL ELIMINAR AFIL FILTRADO -->
    <form action="eliminarAfilFiltrado" method="post">
      <div class="modal fade" id="verAfilModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Registros Afil</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h4>Registros Afil</h4>
              <div id="div-registros-afil"></div>
              
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" id="btnEliminarAfil" type="submit">Eliminar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCerrarAfil">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- * MODAL ELIMINAR COIN FILTRADO -->

    <form action="eliminarCoinFiltrado" method="post" >
      <div class="modal fade" id="verCoinModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Registros Coin</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h4>Registros Coin</h4>
              <div id="div-registros-coin"></div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" id="btnEliminarCoin" type="submit">Eliminar</button>
              <button type="button" id="btnCerrarCoin"  class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- TODO MODAL ELIMINAR RALE RCV -->
    <form action="eliminarRaleRCVFiltrado" method="post">
      <div class="modal fade" id="verRaleRCVModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Registros de Rale RCV</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h4>Registros Rale RCV</h4>
              <div id="div-registros-rale-rcv"></div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" id="btnEliminarRaleRCV" type="submit">Eliminar</button>
              <button type="button" class="btn btn-secondary" id="btnCerrarRaleRCV" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- ! MODAL ELIMINAR RALE COP -->
    <form action="eliminarRaleCOPFiltrado" method="post">
      <div class="modal fade" id="verRaleCOPModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Registros de Rale COP</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h4>Registros Rale COP</h4>
              <div id="div-registros-rale-cop"></div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" id="btnEliminarRaleCOP" type="submit">Eliminar</button>
              <button type="button" class="btn btn-secondary" id="btnCerrarRaleCOP" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </form>       

</body>
<%- include('templates/footer-pleca')%>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="socket.io/socket.io.min.js"></script>
<script src="/js/loadInfo.js"></script>
</html>

