<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/imss-logo.png">
    <title>Registrar Ejecutor</title>

    <%- include('templates/header')%>

    <%- include('templates/banner')%>
    
    <div class="container mt-1">

        <div class="row space-around">
          <div class="col-lg-4">
              <div class="row justify-content-start align-items-center">
                  <div class="col-2">
                      <img src="/icons/pfp.png" alt="">
                  </div>
                  <div class="col-10">
                      <div class="row"><span class="nombre-usuario" id=""><%= session.user ? session.user.nombre : "Nombre" %></span></div>
                      <div class="row"><span class="nombre-usuario" id=""><%= session.user ? session.user.apellidos : "Apellidos" %></span></div>
                      <div class="row"><p class="tipo-usuario"><%= session.user ? session.user.tipo_usuario : "Administrador" %></p></div>
                  </div>
                  <a href="/logout" class="logout text-danger">CERRAR SESIÓN</a>
              </div>
          </div>
          <div class="col-lg-8">
              <div class="d-flex justify-content-center">
                  <div class="col-2"><img src="/icons/hint.png" alt="hint"></div>
                  <div class="col-10"><p class="texto-hint mt-2">REGISTRAR NUEVO AFIL</p></div>
              </div>
          </div>
      </div>

      <div class="d-flex"> 
        <div class="col-2 sidebar">
          <ul>
            <li class="active">
              <h5>INFORMACIÓN</h5>
              <ul class="">
                  <li><a href="/loadInfo" class="sidebar-item">CARGAR INFORMACIÓN</a></li>
                  <li><a href="/registrarAfil" class="sidebar-item activo">REGISTRAR AFIL</a></li>
                  <li><a href="/changeTemplates" class="sidebar-item">CAMBIAR PLANTILLAS</a></li>
                </ul>
            </li>
            <li class="active mt-3">
              <h5>ESTADÍSTICAS</h5>
              <ul class="">
                  <li><a href="/estadisticasIndividuales" class="sidebar-item">INDIVIDUALES</a></li>
                  <li><a href="/estadisticasGlobales" class="sidebar-item">GLOBALES</a></li>
              </ul>
            </li>
            <li class="active mt-3">
              <h5>EJECUTOR</h5>
              <ul class="">
                  <li><a href="/actualizarEjecutor" class="sidebar-item">ACTUALIZAR</a></li>
                  <li><a href="/registerEjecutor" class="sidebar-item">REGISTRAR</a></li>
              </ul>
            </li>
          </ul>
      </div>
          <div class="col-10 space-around">
            <div id="perfil" class="contenido activo text-center">


              <form action="registrarAfil" method="post">

                <h2 class="texto-green text-center mt-2">Registrar Afil</h2>
            
                <div class="container">
                    <label for="reg_pat">Registro Patronal</label>
                    <input type="text" name="reg_pat" id="reg_pat" class="form-control"/>
                </div>
                
                <div class="container">
                  <label for="patron">Patrón</label>
                  <input type="text" name="patron" id="patron" class="form-control"/>
                </div>
            
                <div class="container">
                  <label for="actividad">Actividad</label>
                  <input type="text" name="actividad" id="actividad" class="form-control"/>
                </div>
            
                <div class="container">
                  <label for="domicilio">Domicilio</label>
                  <input type="text" name="domicilio" id="domicilio" class="form-control"/>
                </div>
            

                <div class="container">
                  <label for="localidad">Localidad</label>
                  <input type="text" name="localidad" id="localidad" class="form-control"/>
                </div>


                <div class="container">
                    <label for="rfc">RFC</label>
                    <input type="text" name="rfc" id="rfc" onblur="validarRFC()" class="form-control"/>
                  </div>
              

                  <div class="container">
                    <label for="cp">Código Postal</label>
                    <input type="number" name="cp" id="cp" onblur="validarCP()" class="form-control"/>
                  </div>

                  <div class="container">
                    <label for="ejecutorS">Ejecutor</label>
                    <select name="ejecutorS" id="ejecutorS" onchange="itemSeleccionado('<%= JSON.stringify(usuEjecutores) %>')" class="form-select">
                        <option value="">Selecciona un ejecutor</option>
                        <% for(var i=0; i<usuEjecutores.length; i++) { %>
                            <option value="<%= usuEjecutores[i].nombre %>">
                                <%= usuEjecutores[i].nombre %>
                            </option>
                            <% } %>
                    </select>
                    <input type="hidden" id="ejecutor" name="ejecutor">
                  </div>


                  <div class="container">
                    <label for="clave_eje">Clave</label>
                    <input type="text" name="clave_eje" id="clave_eje" readonly class="form-control"/>
                  </div>
            

            
                <div>
                  <div class="container mt-3">
                    <button type="submit" class="btn btn-success">Registrar</button>
                  </div>
                </div>
            
                <% if (session.registrarAfil) { %>
                  <p><%= session.registrarAfil %></p>
                <% } %>
            
              </form>
            </div>
          </div>  
      </div>
    </div>
    <script src="/js/sidebar.js"></script>
    
    <script>

function validarRFC(){
        var rfc = document.getElementById('rfc').value;

        if(rfc.length <= 11 || rfc.length>= 14){
          document.getElementById('rfc').value = '';
          bsAlert('Ingresa un RFC válido', 'info');
      }
      }


      function validarCP(){
        var cp = document.getElementById('cp').value;
        if(cp.length <= 4 || cp.length>= 6){
          document.getElementById('cp').value = '';
          bsAlert('Ingresa un código postal válido', 'info');
      }
      }
            function itemSeleccionado(usuEjecutores) {
            usuEjecutores = JSON.parse(usuEjecutores);
            console.log(usuEjecutores);
            var nombre = document.getElementById("ejecutorS").value; // Obtener la clave seleccionada
            console.log(nombre);
            var ejecutor = {}; // Variable para almacenar la información del ejecutor seleccionado

            // Buscar el ejecutor con la clave seleccionada y almacenar su información en la variable 'ejecutor'
            for (var i = 0; i < usuEjecutores.length; i++) {
                if (usuEjecutores[i].nombre == nombre) {
                    ejecutor = usuEjecutores[i];
                    break;
                }
            }

            console.log(ejecutor);

            // Actualizar los valores de los campos del formulario con la información del ejecutor seleccionado
            document.getElementById("clave_eje").value = ejecutor.clave_eje;
            document.getElementById("ejecutor").value = ejecutor.nombre;
        }
    </script>

</body>
<%- include('templates/footer-pleca')%>
</html>
