<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/imss-logo.png">
    <title>Registrar Ejecutor</title>

    <%- include('templates/header')%>

    <%- include('templates/banner')%>
    
    <div class="container mt-1">

      <div class="row space-around">
        <div class="col-lg-4">
            <div class="row justify-content-start align-items-center">
                <div class="col-2">
                    <img src="/icons/pfp.png" alt="">
                </div>
                <div class="col-10">
                    <div class="row"><span class="nombre-usuario" id=""><%= session.user ? session.user.nombre : "Nombre" %></span></div>
                    <div class="row"><span class="nombre-usuario" id=""><%= session.user ? session.user.apellidos : "Apellidos" %></span></div>
                    <div class="row"><p class="tipo-usuario"><%= session.user ? session.user.tipo_usuario : "Administrador" %></p></div>
                </div>
                <a href="/logout" class="logout text-danger">CERRAR SESIÓN</a>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="d-flex justify-content-center">
                <div class="col-2"><img src="/icons/hint.png" alt="hint"></div>
                <div class="col-10"><p class="texto-hint mt-2">REGISTRAR NUEVOS EJECUTORES</p></div>
            </div>
        </div>
    </div>

      <div class="d-flex"> 
          <div class="col-2 sidebar">
              <ul>
                <li class="active">
                  <h5>INFORMACIÓN</h5>
                  <ul class="">
                      <li><a href="/loadInfo" class="sidebar-item">CARGAR INFORMACIÓN</a></li>
                      <li><a href="/registrarAfil" class="sidebar-item">REGISTRAR AFIL</a></li>
                  </ul>
                </li>
                <li class="active mt-3">
                  <h5>ESTADÍSTICAS</h5>
                  <ul class="">
                      <li><a href="/confronta" class="sidebar-item">CONFRONTA</a></li>
                      <li><a href="/estadisticasIndividuales" class="sidebar-item">INDIVIDUALES</a></li>
                      <li><a href="#" class="sidebar-item">GLOBALES</a></li>
                  </ul>
                </li>
                <li class="active mt-3">
                  <h5>EJECUTOR</h5>
                  <ul class="">
                      <li><a href="/actualizarEjecutor" class="sidebar-item">ACTUALIZAR</a></li>
                      <li><a href="/registerEjecutor" class="sidebar-item activo">REGISTRAR</a></li>
                  </ul>
                </li>
              </ul>
          </div>
          <div class="col-10 space-around">
            <div id="perfil" class="contenido activo text-center">
              <form action="registerEjecutor" method="post">

                <h2 class="texto-green text-center mt-2">Registrar</h2>
            
                <div class="container">
                    <label for="clave_eje">Clave eje</label>
                    <input class="form-control" type="text" name="clave_eje" id="clave_eje"/>
                </div>
                
                <div class="container">
                  <label for="nombre">Nombre</label>
                  <input class="form-control" type="text" name="nombre" id="nombre"/>
                </div>
            
                <div class="container">
                  <label for="user">Usuario</label>
                  <input class="form-control" type="text" name="user" id="user"/>
                </div>
            
                <div class="container">
                  <label for="pass">Contraseña</label>
                  <input class="form-control" type="password" name="pass" id="pass"/>
                </div>
            
                <div class="container">
                  <label for="type">Tipo</label>
                  <select class="form-control input-group-text" name="type" id="type">
                    <option id="admin" value="admin">Admin</option>
                    <option id="ejecutor" value="ejecutor">Ejecutor</option>
                  </select>
                </div>
            
                <div>
                  <div class="container mt-3">
                    <button type="reset" class="btn btn-danger">Cancelar</button>
                    <button type="submit" class="btn btn-success">Registrar</button>
                  </div>
                </div>
            
                <% if (session.registerEjecutor) { %>
                  <p><%= session.registerEjecutor %></p>
                <% } %>
            
              </form>
            </div>
          </div>  
      </div>
    </div>
</body>
<%- include('templates/footer-pleca')%>
</html>
